<!DOCTYPE html>
<html class="load-full-screen">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="LimpidThemes">

	<title>Travel Agency</title>

    <!-- STYLES -->
	<link href="assets/css/animate.min.css" rel="stylesheet">
	<link href="assets/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl-carousel-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="assets/css/flexslider.css" rel="stylesheet" media="screen">
	<link href="assets/css/style.css" rel="stylesheet" media="screen">
	<!-- LIGHT -->
	<link rel="stylesheet" type="text/css" href="assets/css/dummy.html" id="select-style">
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<link href="assets/css/light.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>

</head>
<body class="load-full-screen">

<!-- BEGIN: PRELOADER -->
<div id="loader" class="load-full-screen">
	<div class="loading-animation">
		<span><i class="fa fa-plane"></i></span>
		<span><i class="fa fa-bed"></i></span>
		<span><i class="fa fa-ship"></i></span>
		<span><i class="fa fa-suitcase"></i></span>
	</div>
</div>
<!-- END: PRELOADER -->



<!-- BEGIN: SITE-WRAPPER -->
<div class="site-wrapper">
	<div class="row header-top">
		<div class="container clear-padding">
			<div class="navbar-contact">
				<div class="col-md-7 col-sm-6 clear-padding">
					<a href="#" class="transition-effect"><i class="fa fa-phone"></i> (+33) 1234567890</a>
					<a href="#" class="transition-effect"><i class="fa fa-envelope-o"></i> support@travel-sudparis.eu</a>
				</div>
				<div class="col-md-5 col-sm-6 clear-padding search-box">
					<div class="col-md-6 col-xs-5 clear-padding">
						<form >
							<div class="input-group">
								<input type="text" name="search" class="form-control" required placeholder="Search">
								<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
							</div>
						</form>
					</div>
					<div class="col-md-6 col-xs-7 clear-padding user-logged">
						<a href="#" class="transition-effect">
							<img src="assets/images/user.jpg" alt="cruise">
							Hi, Lenore
						</a>
						<a href="#" class="transition-effect">
							<i class="fa fa-sign-out"></i>Sign Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row light-menu">
		<div class="container clear-padding">
			<!-- BEGIN: HEADER -->
			<div class="navbar-wrapper">
				<div class="navbar navbar-default" role="navigation">
					<!-- BEGIN: NAV-CONTAINER -->
					<div class="nav-container">
						<div class="navbar-header">
							<!-- BEGIN: TOGGLE BUTTON (RESPONSIVE)-->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<!-- BEGIN: LOGO -->
							<a class="navbar-brand logo" href="/">TOUR</a>
						</div>

						<!-- BEGIN: NAVIGATION -->
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li >
									<a href="/"><i class="fa fa-home"></i> HOME </a>
								</li>
								<li >
									<a  href="#" ><i class="fa fa-list-alt"></i> PROGRAMS <i></i></a>
								</li>
								<li class="dropdown mega">
									<a class="dropdown-toggle" href="/circuit" data-toggle="dropdown"><i class="fa fa-suitcase"></i> TOURS <i class="fa fa-caret-down"></i></a>
									<ul class="dropdown-menu mega-menu" >
										<li class="col-md-9 col-sm-11 links">
											<h5>CIRCUITS</h5>
											<ul>
												<li><a href="/circuit">All circuits</a></li>
												<li><a href="/1">Andalousie</a></li>
												<li><a href="/2">Vietnam</a></li>
												<li><a href="/3">Ile de France</a></li>
												<li><a href="/4">Italie</a></li>


											</ul>
										</li>
										<li class="col-md-3 col-sm-4 links">
											<div class="img-div clear-top">
												<img src="assets/images/tour1.jpg" alt="cruise">
												<div class="overlay">
													<h5>PARIS</h5>
													<p>Starting From $599</p>
													<a href="#">KNOW MORE</a>
												</div>
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</li>


								<li class="dropdown mega">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-file"></i> PAGES <i class="fa fa-caret-down"></i></a>
									<ul class="dropdown-menu mega-menu">
										<li class="col-md-3 col-sm-4 links">
											<h5>BLOG PAGES</h5>
											<ul>
												<li><a href="blog-right-sidebar.html">RIGHT SIDEBAR</a></li>
												<li><a href="blog-left-sidebar.html">LEFT SIDEBAR</a></li>
												<li><a href="blog-full-width.html">FULL WIDTH</a></li>
												<li><a href="single-right-sidebar.html">SINGLE RIGHT SIDEBAR</a></li>
												<li><a href="single-left-sidebar.html">SINGLE LEFT SIDEBAR</a></li>
												<li><a href="single-full-width.html">SINGLE FULL WIDTH</a></li>
											</ul>
										</li>
										<li class="col-md-3 col-sm-4 links">
											<h5>SPECIAL PAGES</h5>
											<ul>
												<li><a href="coming-soon.html">COMING SOON</a></li>
												<li><a href="404.html">404</a></li>
												<li><a href="404-2.html">404 2</a></li>
												<li><a href="loading.html">LOADING</a></li>
												<li><a href="login.html">LOGIN/REGSITER</a></li>
												<li><a href="elements.html">ELEMENTS</a></li>
												<li><a href="thank-you.html">COMING SOON</a></li>
											</ul>
										</li>
										<li class="col-md-3 col-sm-4 links">
											<h5>EXTRA PAGES</h5>
											<ul>
												<li><a href="user-profile.html">USER DASHBOARD</a></li>
												<li><a href="gallery-3column.html">GALLERY 3 COLUMN</a></li>
												<li><a href="gallery-4column.html">GALLERY 4 COLUMN</a></li>
												<li><a href="about-us.html">ABOUT US</a></li>
												<li><a href="contact-us.html">CONTACT US</a></li>
											</ul>
										</li>
										<li class="col-md-3 col-sm-4 links">
											<div class="img-div clear-top">
												<img src="assets/images/tour1.jpg" alt="cruise">
												<div class="overlay">
													<h5>DUBAI</h5>
													<p>Starting From $599</p>
													<a href="#">KNOW MORE</a>
												</div>
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</li>
							</ul>
						</div>
						<!-- END: NAVIGATION -->
					</div>
					<!--END: NAV-CONTAINER -->
				</div>
			</div>
			<!-- END: HEADER -->
		</div>
	</div>
	<!-- START: PAGE TITLE -->
	<div class="row page-title">
		<div class="container clear-padding text-center">
			<h3>WONDERFUL {{ circuit.description }}</h3>
			<h4>{{ circuit.dureeCircuit-1 }} Nights/{{ circuit.dureeCircuit }} Days</h4>
		</div>
	</div>
	<!-- END: PAGE TITLE -->

	<div class="row package-detail">
		<div class="container clear-padding">
			<div class="main-content col-md-8">
				<!-- START: HOLIDAY GALLERY -->
				<div id="gallery" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#gallery" data-slide-to="0" class="active"></li>
						<li data-target="#gallery" data-slide-to="1"></li>
					</ol>
					<a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
						<span class="fa fa-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#gallery" role="button" data-slide="next">
						<span class="fa fa-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<!-- END: CRUISE GALLRY -->
				<div class="package-complete-detail">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#itinerary"><i class="fa fa-globe"></i> <span>Itinerary</span></a></li>
					</ul>
					<div class="tab-content">
						<div id="ship-info" class="tab-pane fade in active">
							<h4 class="tab-heading">Details</h4>
							<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j.
         			de voyage à travers le {{ circuit.paysDepart }}, pour terminer à
         			{{ circuit.villeArrivee }}.</p>

							<h4 class="tab-heading">Programmations de ce circuit</h4>
							<table class="table table-condensed" >
     	 					<thead>
     						<tr>
     				    	<th>Date de départ</th>
     						  <th>Nombre de personnes</th>
     						  <th>Prix</th>
     						</tr>
     						</thead>
     					{%  for programmation in circuit.programmations %}
     				<tr>
     			   <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
     			   <td>{{ programmation.nombrePersonnes }}</td>
     			   <td>{{ programmation.prix }} euros</td>
     				</tr>
     				{% endfor %}
     				</table>
						<h4 class="tab-heading">Details</h4>
						<table class="table table-condensed">
     	 			<thead>
     					<tr>
     				    	<th>Nom</th>
     						<th>Duree</th>
     					</tr>
     				</thead>
     					{%  for etape in circuit.etapes %}
     				<tr>
     			   <td>{{ etape.getVilleEtape()  }}</td>
     			   <td>{{ etape.getNombreJours() }}</td>
     				</tr>
     				{% endfor %}
     				</table>
						</div>
						<div id="itinerary" class="tab-pane fade">
							<h4 class="tab-heading">Package Itinerary</h4>
							<div class="daily-schedule">
								<div class="title">
									<p><span>Day 1</span>Paris</p>
								</div>
								<div class="daily-schedule-body">
									<div class="col-md-4 col-sm-4">
										<img src="assets/images/cruise1.jpg" alt="cruise">
									</div>
									<div class="col-md-8 col-sm-8">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Included</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free meal</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Movie show</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Rock concert</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Night show</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="daily-schedule">
								<div class="title">
									<p><span>Day 2</span>At Sea</p>
								</div>
								<div class="daily-schedule-body">
									<div class="col-md-4 col-sm-4">
										<img src="assets/images/cruise2.jpg" alt="cruise">
									</div>
									<div class="col-md-8 col-sm-8">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Included</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free meal</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Movie show</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Rock concert</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Night show</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="daily-schedule">
								<div class="title">
									<p><span>Day 3</span>Amsterdam</p>
								</div>
								<div class="daily-schedule-body">
									<div class="col-md-4 col-sm-4">
										<img src="assets/images/cruise3.jpg" alt="cruise">
									</div>
									<div class="col-md-8 col-sm-8">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Included</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free meal</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Movie show</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Rock concert</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Night show</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="cabin" class="tab-pane fade">
							<h4 class="tab-heading">Cabin Types</h4>
							<div class="inclusion-wrapper">
								<div class="inclusion-title">
									<p><span><i class="fa fa-bed"></i></span>Balcony</p>
								</div>
								<div class="inclusion-body">
									<div class="col-md-3 col-sm-3 clear-padding">
										<img src="assets/images/tour1.jpg" alt="cruise">
									</div>
									<div class="col-md-9 col-sm-9">
										<h5>Starting From $299/Person <a href="#">BOOK NOW</a></h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Cabin Facilities</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> LED TV</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Refrigerator</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Room Sevice</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free WiFi</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="inclusion-wrapper">
								<div class="inclusion-title">
									<p><span><i class="fa fa-bed"></i></span>Ocean View</p>
								</div>
								<div class="inclusion-body">
									<div class="col-md-3 col-sm-3 clear-padding">
										<img src="assets/images/tour3.jpg" alt="cruise">
									</div>
									<div class="col-md-9 col-sm-9">
										<h5>Starting From $399/Person <a href="#">BOOK NOW</a></h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Cabin Facilities</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> LED TV</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Refrigerator</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Room Sevice</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free WiFi</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="inclusion-wrapper">
								<div class="inclusion-title">
									<p><span><i class="fa fa-bed"></i></span>Suite</p>
								</div>
								<div class="inclusion-body">
									<div class="col-md-3 col-sm-3 clear-padding">
										<img src="assets/images/tour2.jpg" alt="cruise">
									</div>
									<div class="col-md-9 col-sm-9">
										<h5>Starting From $599/Person <a href="#">BOOK NOW</a></h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 activity">
										<h4>Cabin Facilities</h4>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> LED TV</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Refrigerator</p>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Room Sevice</p>
										</div>
										<div class="col-md-6 col-sm-6">
											<p><i class="fa fa-check-square"></i> Free WiFi</p>
										</div>
										<div class="clearfix"></div>
									</div>

								</div>
							</div>
						</div>
						<div id="map" class="tab-pane fade">
							<h4 class="tab-heading">Map</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 package-detail-sidebar">
				<div class="col-md-12 sidebar-wrapper clear-padding">
					<div class="package-summary sidebar-item">
						<h4><i class="fa fa-bookmark"></i> Package Summary</h4>
						<div class="package-summary-body">
							<h5><i class="fa fa-heart"></i>Theme</h5>
							<p>Honeymoon, Group, Beach</p>
							<h5><i class="fa fa-map-marker"></i>Departure Port</h5>
							<p>{{ circuit.villeDepart }}</p>
							<h5><i class="fa fa-globe"></i>Itinerary</h5>
							{%  for etape in circuit.etapes %}
							<p>{{ etape.getVilleEtape()}},</p>
							{% endfor %}
						</div>
						<div class="package-summary-footer text-center">
							<div class="col-md-6 col-sm-6 col-xs-6 price">
								<h5>Starting From</h5>
								<h5><strong>$55/Person</strong></h5>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 book">
								<a href="#">BOOK NOW</a>
							</div>
						</div>
					</div>
					<div class="assistance-box sidebar-item">
						<h4><i class="fa fa-phone"></i> Need Assistance</h4>
						<div class="assitance-body text-center">
							<h5>Need Help? Call us or drop a message. Our agents will be in touch shortly.</h5>
							<h2>+33 1234567890</h2>
							<h3>Or</h3>
							<a href="mailto:info@travel-sudparis.eu"><i class="fa fa-envelope-o"></i> Email Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END: ROOM GALLERY -->

<!-- START: FOOTER -->
<section id="footer">
	<footer>

		<div class="main-footer row">
			<div class="container clear-padding">
				<div class="col-md-4 col-sm-8 about-box">
					<h3>IMT Travel Agency </h3>
					<p>Best Travel Agency in the World.</p>
					<a href="#">READ MORE</a>
				</div>
				<div class="col-md-4 col-sm-8 links">
					<h4>Popular Tours</h4>
					<ul>
						<li><a href="#">Romantic France</a></li>
						<li><a href="#">Wonderful Lodnon</a></li>
						<li><a href="#">Awesome Amsterdam</a></li>
						<li><a href="#">Wild Africa</a></li>
						<li><a href="#">Beach Goa</a></li>
						<li><a href="#">Casino Los Vages</a></li>
						<li><a href="#">Romantic France</a></li>
					</ul>
				</div>
				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-4 col-sm-8 contact-box">
					<h4>Contact Us</h4>
					<p><i class="fa fa-home"></i> Street #9 CHARLES FOURIER 91011 EVRY FRANCE CEDEX</p>
					<p><i class="fa fa-phone"></i> +(33) 1234567890</p>
					<p><i class="fa fa-envelope-o"></i> support@travel-sudparis.eu</p>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12 text-center we-accept">
					<h4>We Accept</h4>
					<ul>
						<li><img src="assets/images/card/mastercard.png" alt="cruise"></li>
						<li><img src="assets/images/card/visa.png" alt="cruise"></li>
						<li><img src="assets/images/card/american-express.png" alt="cruise"></li>
						<li><img src="assets/images/card/mastercard.png" alt="cruise"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-footer-nav row">
			<div class="container clear-padding">
				<div class="col-md-6 col-sm-6">
					<p>Copyright &copy; 2017 . All Rights Reserved.</p>
				</div>

				<div class="go-up">
					<a href="#"><i class="fa fa-arrow-up"></i></a>
				</div>
			</div>
		</div>
	</footer>
</section>
<!-- END: FOOTER -->

</div>
<!-- END: SITE-WRAPPER -->

<!-- Load Scripts -->
<script src="assets/js/respond.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/plugins/owl.carousel.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/plugins/wow.min.js"></script>
<script src="assets/js/js.js"></script>
</body>

</html>
